@charset "UTF-8";
@media screen and (min-width: 768px) and (max-width: 992px) {
    body{
        background-image: linear-gradient(to top, white, #E094D1);
    }
    section#login {
        width: 80vw;
    }
    #login > div#imagem {
        float: left;
        width: 30%;
        height: 100%;
    }
    #login > div#form {
        float: right;
        width: 70%;
    }
    form > input[type=submit]{
        display: block;
        font-size: 1em;
        width: 70%;
        margin: 20px auto;
    }
    form > a.botao{
        display: block;
        font-size: 1em;
        width: 70%;
        margin: 20px auto;
    }
}
@media screen and (min-width: 992px) {
    body{
        background-image: linear-gradient(to top, white, #E094D1);
    }
    #login{
        width: 980px;
    }
    #login > div#imagem {
        float: right;
        width: 50%;
        height: 100%;
    }
    #login > div#form {
        float: left;
        width: 50%;
    }
    #form > h1{
        font-size: 2em;
    }
    #form > p{
        font-size: 1.2em;
    }
    form > input[type=submit]{
        display: block;
        font-size: 1em;
        width: 80%;
        margin: 20px auto;
    }
    form > a.botao{
        display: block;
        font-size: 1em;
        width: 80%;
        margin: 20px auto;
    }
}
