@charset "UTF-8";

/*
 rosa : #E094D1
 lilás : #9A62DE
*/

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html{
    background-color: #E094D1;
    height: 100vh;
    width: 100vw;
}
main{
    position: relative;
    height: 100vh;
    width: 100vw;
}
#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 250px;
    height: 515px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.479);

    transition: width .3s, height .3s;
    transition-timing-function: ease;
}
#login > div#imagem{
    display: block;
    background: #E094D1 url(../imagens/blossom.jpg) no-repeat;
    background-size: cover;
    height: 200px;
}
#login > div#form{
    display: block;
    padding: 10px;
}
#form > h1{
    text-align: center;
    margin-bottom: 10px;
}
#form > p{
    font-size: 0.8em;
}
form > .campo{
   background-color: #e094d16b;
   display: block;
   width: 100%; 
   height: 40px;
   border: 0px;
   border-radius: 10px 0px 10px 0px;
   margin: 10px 0px;
}
.campo > label{
    display: none;
}
.campo > span{
    color: white;
    background-color: black;
    font-size: 2em;
    width: 40px;
    padding: 5px;



}
.campo > input{
    background-color: rgba(255, 255, 255, 0.603);
    font-size: 1em;
    width: calc(100% - 42px);
    height: 88%;
    transform: translateY(-40px);
    margin-left: 40px;
    border: 0px;
    border-radius: 10px;
    padding: 18px;
    
}

form > input[type=submit]{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 30px;
    margin-top: 30px;
    background-color: #E094D1;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
form > input[type=submit]:hover{
    background-color: #a33a8e;
}
form > a.botao{
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 35px;
    padding-top: 7px;
    margin-top: 10px;
    background-color: #ec65d191;
    color: white;
    border: 1px solid #ec65d1;
    border-radius: 10px;
    text-decoration: none;
}
form > a.botao > span {
    font-size: 0.8em;
}